%h1
  = form_for :contact do |f|
    Name: 
    =f.text_field :name
    Email:
    = f.text_field :email
    Info:
    = select_tag :category, options_for_select([ ['Prospective Student', 'ps'], ['Parent', 'parent'], ['Organizer', 'organizer'] ])
    = f.submit 
