%h1
  The Lab for Robotics Education
.container
  #new_contact_form
    = simple_form_for :contact do |f|
      .text_field
        Name: 
        =f.text_field :name
      .text_field
        Email:
        = f.text_field :email
      .text_field
        Info:
        = f.text_area :message
      #submit_button
        = f.submit "Submit"
